# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs
*.log
logs/*
pids
*.pid
*.seed

# Coverage directory used by tools like istanbul
coverage/

# Build output
dist/
build/

# Temporary files
.DS_Store
Thumbs.db

# IDE specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Misc
npm-debug.log*

# Generated Tests
database/generated-tests/
